// Import Bootstrap functions first to ensure variables can use them
@import "../../node_modules/bootstrap/scss/functions";

// Variable overrides
$primary: #003956;
$primary-muted: #004a67;
$secondary: #037b94;
$success: #128635;
$warning: #ffbd11;
$danger: #c91432;
$info: $secondary;
$text-muted: #000000a6; // 65% opacity black

$font-family-sans-serif: "Fustat Variable", sans-serif;

$toast-background-color: #fff;
$border-color: #b0b0b0;
$list-group-bg: transparent;
$border-color-translucent: $border-color;
$focus-ring-opacity: 0.15;
$primary-bg-subtle: tint-color($primary, 95%);

$border-radius: 0.7rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 1rem;
$border-radius-xl: 2rem;
$border-radius-xxl: 3rem;

$table-cell-padding-y: 0.75rem;
$table-cell-padding-x: 0.75rem;
$table-cell-padding-y-sm: 0.5rem;
$table-cell-padding-x-sm: 0.5rem;

$card-spacer-x: 1.5rem;
$card-spacer-y: 1.5rem;
$input-btn-padding-y-sm: 0.5rem;

// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";

// Custom styles
:root {
    --#{$prefix}primary-muted: #{$primary-muted};
    --#{$prefix}text-muted: #{$text-muted};
    --#{$prefix}primary-bg-subtle: #{$primary-bg-subtle};
}

.navbar-nav {
    --#{$prefix}navbar-color: #{$text-muted};
}

.nav {
    --#{$prefix}nav-link-font-weight: 300;
}

html {
    scrollbar-gutter: stable;
}

body.modal-open {
    padding-right: 0 !important;
}

/* App Layout */
#app-layout {
    display: flex;
    flex-direction: column;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
    }
}
@include media-breakpoint-up(lg) {
    #app-layout {
        flex-direction: row;
    }
}

/* Container */
.container {
    padding: 2rem;
}
@include media-breakpoint-up(md) {
    .container {
        padding: 2rem 3rem;
    }
}

/* Hero */
.hero h1 {
    font-size: 3rem;
}
@include media-breakpoint-up(md) {
    .hero h1 {
        font-size: 4rem;
    }
}

/* Main Navbar (Sidebar) */
.navbar-main {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: tint-color($primary, 90%);
    flex-direction: row;
    align-items: center;
    z-index: 1050;
    isolation: isolate;
    max-height: 100vh;
    overflow-y: auto;

    .navbar-collapse {
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .user-dropdown {
        font-weight: 300;
        color: $black;
        padding-left: $btn-padding-y;
        padding-right: $btn-padding-x-lg;

        + .dropdown-menu {
            width: 100%;
        }

        .user-icon {
            background-color: tint-color($primary, 90%);
            border-radius: $btn-border-radius;
            padding: 0.5rem;
            margin-right: 0.5rem;
        }
    }

    .navbar-brand img {
        width: 3rem;
        margin: 0 -5%;
    }
}
@include media-breakpoint-up(lg) {
    .navbar-main {
        height: 100vh;
        padding: 2rem;
        width: 25rem;
        flex-direction: column;
        align-items: start;
        flex-shrink: 0;
        border-right: 1px solid $border-color;
        .navbar-brand {
            font-size: 1.6rem;
            font-weight: 500;
            white-space: inherit;
            line-height: 1.3;

            img {
                width: 5rem;
            }
        }
    }
}

/* Nav variant "separated" */
.navbar-nav.nav-separated {
    flex-direction: row;
    padding: var(--bs-nav-link-padding-y) 0;

    .nav-link {
        padding: 0 var(--bs-navbar-nav-link-padding-x);

        &.active {
            font-weight: 400;
        }

        &:not(:first-child) {
            border-left: 1px solid $border-color;
        }

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

/* Nav variant "heavy" */
.navbar-nav.nav-heavy {
    flex-direction: column;
    width: 100%;

    .nav-link {
        border-radius: $border-radius;
        border: 1px solid transparent;
        padding: 0.75rem 1rem;

        &.active {
            background-color: white;
            border: 1px solid $border-color;
            font-weight: 400;
        }
    }
}

/* Nav variant "header" */
.nav-header {
    position: relative;
    flex-direction: column;
    border: 1px solid $border-color;
    border-radius: $border-radius-lg;
    width: 100%;
    padding: $btn-padding-y-sm * 0.4;

    &::after {
        content: "";
        position: absolute;
        height: var(--active-height);
        width: var(--active-width);
        left: var(--active-offset-x);
        top: var(--active-offset-y);
        background-color: $primary;
        border-radius: $border-radius-lg;
        transition:
            left calc(var(--animation-ready) * 300ms) ease,
            top calc(var(--animation-ready) * 300ms) ease,
            width calc(var(--animation-ready) * 300ms) ease;
    }

    .nav-link {
        position: relative;
        z-index: 1;
        color: $black;
        text-align: center;

        &.active {
            color: $white;
            background-color: rgb(
                from $primary r g b / calc(1 - var(--animation-ready))
            );
            border-radius: $border-radius-lg;
        }
    }
}
@include media-breakpoint-up(xl) {
    .nav-header {
        flex-direction: row;
        border-radius: 9999px;
        width: max-content;

        &::after {
            border-radius: 9999px;
        }

        .nav-link.active {
            border-radius: 9999px;
        }
    }
}

/* Nav variant "tight" */
.nav-tight {
    gap: 2rem;

    .nav-link {
        padding: 0;
    }
}

/* Header */
.header {
    z-index: 1000;

    #header-background {
        border-bottom: 1px solid $border-color;
    }

    &.sticky-header #header-background {
        margin-top: 1rem;
    }

    .header-title {
        font-weight: 400;
    }

    .sticky-header-content {
        padding-top: 0rem;
        padding-bottom: 0rem;
        margin-top: -1rem;
    }

    .nav-header {
        margin-top: 2rem;
    }

    .sticky-header-spacer {
        height: 2rem;
    }
}

.sticky-header-title {
    background-color: white;
    z-index: 1001;

    & > .container {
        padding-bottom: 0rem;
    }
}

/* Progressive enhancement: on smaller devices the header content wraps, which would make a sticky header cover too much of the screen */
@include media-breakpoint-up(xxl) {
    .header {
        &.sticky-header {
            position: sticky;
            top: -2rem;
            background-color: $white;
            container-type: scroll-state;

            #header-background {
                margin-top: 2rem;
                transition: box-shadow 0.3s ease;
            }
        }

        .sticky-header-content {
            position: sticky;
            container-type: scroll-state;
            top: -1rem;
            margin-top: -2rem;
        }
    }
}

/* Progressive enhancement: not all browsers support scroll-state container queries as of April 2026 */
@supports (container-type: scroll-state) {
    .header {
        @container scroll-state(stuck: top) {
            #header-background {
                box-shadow: $box-shadow-lg;
            }
        }

        @container scroll-state(stuck: top) {
            label {
                opacity: 0;
            }
        }
    }
}

@supports not (container-type: scroll-state) {
    .header {
        label {
            margin-bottom: 1rem;
        }

        .nav-header {
            margin-top: 2.5rem;
        }

        .sticky-header-content {
            top: -1.5rem;
        }

        &.sticky-header {
            top: -2.5rem;
        }
    }
}

/* Footer & Divider */
footer,
.divider {
    border-top: 1px solid $border-color;
}

/* Buttons & Links */
.btn-outline-border {
    @include button-variant(
        transparent,
        $border-color,
        $text-muted,
        tint-color($border-color, 90%),
        $border-color,
        $black,
        tint-color($border-color, 90%),
        $border-color,
        $black,
        transparent,
        $border-color,
        $border-color
    );
    &.filled {
        --bs-btn-bg: white;
    }
}

.btn-primary-muted {
    @include button-variant(
        $primary-muted,
        $primary-muted,
        $hover-background: shade-color(
                $primary-muted,
                $btn-hover-bg-shade-amount
            ),
        $hover-border: shade-color(
                $primary-muted,
                $btn-hover-border-shade-amount
            ),
        $active-background: shade-color(
                $primary-muted,
                $btn-active-bg-shade-amount
            ),
        $active-border: shade-color(
                $primary-muted,
                $btn-active-border-shade-amount
            )
    );
}

.btn.icon-button {
    padding: 0.8rem;
    line-height: 1;
}

.accordion-button {
    font-weight: 600;
}

.btn-sm {
    line-height: 1;
}

a,
.btn-link,
.link {
    text-decoration: none;
}

.link {
    color: rgba(
        var(--#{$prefix}link-color-rgb),
        var(--#{$prefix}link-opacity, 1)
    );

    &:hover {
        color: rgba(
            var(--#{$prefix}link-hover-color-rgb),
            var(--#{$prefix}link-opacity, 1)
        );
    }
}

/* Toasts */
.toast {
    overflow: hidden;

    .toast-body {
        background-color: $toast-background-color;
    }
}

/* RJSF */
form.rjsf {
    display: flex;
    flex-direction: column;

    .rjsf-field {
        flex-grow: 1;
    }

    .form-label {
        margin-bottom: 0.2rem;
    }

    .super-label {
        display: inline-block;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    .multi-schema-toggle {
        /* hide the dropdown for selecting between schemas when the discriminator is "enabled" */
        .multi-schema-selector {
            display: none;

            + .rjsf-field
                > div
                > span:first-child:has(
                    + div > .rjsf-field-boolean:first-child
                ) {
                display: none;
            }
        }
    }

    .rjsf-field-boolean > div {
        /* render the description below the checkbox */
        display: flex;
        flex-direction: column-reverse;
    }

    .array-field-item > div > .form-label {
        /* hide labels for array items */
        display: none;
    }

    .form-section {
        display: grid;
        align-items: start;
        gap: 2rem;
        border-bottom: 1px solid $border-color;
        padding-bottom: 3rem;
        margin-bottom: 3rem;

        .form-section-header h5 {
            font-weight: 600;
            font-size: 1.3rem;
        }
    }
}

@include media-breakpoint-up(xxl) {
    form.rjsf .form-section {
        grid-template-columns: 25% 1fr;

        .form-section-header {
            position: sticky;
            top: 7rem;

            h5 {
                font-size: 1.1rem;
            }
        }
    }
}

/* Pulse */
.pulse {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    .pulse-outer {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--pulse-color);
        animation: pulse 2s infinite;
    }

    .pulse-inner {
        width: 40%;
        height: 40%;
        border-radius: 50%;
        background-color: var(--pulse-color);

        &.paused {
            animation: pulse-paused 1s infinite alternate;
            animation-timing-function: ease-in-out;
        }
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.4);
        opacity: 0.75;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes pulse-paused {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}

/* Utility classes */
.tight-container {
    width: 100%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.visual-container {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 1.5rem;
    background-color: $primary-bg-subtle;

    gene-viewer {
        --gene-viewer-background-color: var(--#{$prefix}primary-bg-subtle);
    }
}

.text-muted {
    color: $text-muted !important;
    font-weight: 300;
}

.modal-wide {
    max-width: 50rem;
    margin: auto;
    .modal-content {
        margin: var(--bs-modal-margin);
    }
}
